html {
    background: #eeffee;
}

#body {
    width: 900px;
    margin: auto;
    background: #449944;
}

#header h1 {
    text-align: center;
    font-size: 200%;
    color: white;
    padding: 20px;
}

#content {
    border: 1px solid #449944;
    padding: 20px;
    min-height: 300px;
    background: white;
}

#footer {
    text-align: center;
    color: white;
    padding: 10px;
}