html {
}


a,
a:visited {
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

#body {
    width: 900px;
    margin: auto;
}

#header h1 {
    text-align: center;
    font-size: 200%;
    padding: 20px;
}
#header h1 a {
    color: black;
    text-decoration: none;
}

#nav {
    text-align: center;
}

#content {
    padding: 20px;
    min-height: 300px;
    background: white;
}

#footer {
    text-align: center;
    color: white;
    padding: 10px;
}

div.box {
    position: relative;
    top: -1px;
}
span.box-legend {
    display: inline-block;
    background: #ddd;
    padding: 5px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-bottom: 1px solid #ddd;
    position: relative;
    top: 1px;
}
div.box-inner {
    border: 1px solid #aaa;
}
div.box-content {
    border: 5px solid #ddd;
    padding: 5px;
}
div.box.medium {
    width: 500px;
    margin: auto;
}

div.box.right {
    width: 180px;
    float: right;
    position: relative;
    left: 10px;
}


div.left-right div.left,
div.left-right div.right {
    float: left;
    display: inline;
}
div.left-right div.right {
    margin-left: 5px;
}
div.left-right div.clear {
    clear: left;
}

form.status-form label {
    display: block;
}

form.status-form div.row {
    margin-top: 13px;
}

form.status-form input,
form.status-form textarea {
    border: 1px solid #aaa;
    padding: 2px;
    font-weight: bold;
}
form.status-form textarea {
    width: 300px;
}

form.status-form div.actions {
    text-align: right;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 5px 5px 0;
}

form.create-exercise-type div label {
    width: 100px;
    display: inline-block;
}
form.create-exercise-type div input {
    width: 370px;
}
form.create-exercise-type div.actions {
    text-align: right;
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding: 5px 5px 0;
}
div.entries-by-date div.box,
div.exercise-types div.box {
    margin-top: 10px;
}

div.entries-by-date form.x-out-form {
    display: inline;
}
div.entries-by-date button.x-out-button {
    background: none;
    border: 0px;
    cursor: pointer;
    font-weight: bold;
    color: red;
    padding: 0px;
}
div.entries-by-date div.comment {
    margin-left: 20px;
    font-style: italic;
}
div.entries-by-date a {
    color: black;
    font-weight: normal;
}
div.entries-by-date hr {
    border: 0;
    border-bottom: 1px solid #ddd;
}