<html>
  <head>
    <title>{% block title %}Exercise Challenge{% end %}</title>
    {% if not OPTIONS.offline %}
    <link rel="stylesheet" type="text/css"
          href="http://yui.yahooapis.com/combo?2.6.0/build/reset-fonts/reset-fonts.css"
          />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
            type="text/javascript"
            language="Javascript"></script>
    {% else %}
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('css/reset-fonts.css') }}"
          />
    <script type="text/javascript" src="{{ static_url('js/jquery.min.js') }}"></script>
    {% end %}
    <link rel="stylesheet" type="text/css"
          href="{{ static_url('css/style.css') }}" />
    <script type="text/javascript" src="{{ static_url('js/ajaxer.js') }}"></script>

  </head>
  <body>
    <div id="body">
      <div id="header">
        <h1>Exercise Challenge</h1>
        <div id="nav">
          {% if current_user %}
          <a href="/logout">Log out</a>
          {% else %}
          <a href="/login">Log in</a>
          {% end %}
        </div>
      </div>
      <div id="content">
        {% block body %}
        Welcome to the exercise Challenge.
        {% end %}
      </div>
      <div id="footer">
        &copy; 2010 Paul Carduner and Friends
      <div>
    </div>

    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{OPTIONS.fb_app_id}}', status: true, cookie: true,
                 xfbml: true});
      };
      (function() {
        var e = document.createElement('script'); e.async = true;
        e.src = document.location.protocol +
          '//connect.facebook.net/en_US/all.js';
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>

  </body>
</html>
