{% extends "base.html" %}

{% block body %}
<div style="text-align: center; margin-bottom: 10px;">
  <fb:facepile max-rows="10" width="500"></fb:facepile>
</div>
<div class="box medium">
  <span class="box-legend">Welcome</span>
  <div class="box-inner">
    <div class="box-content">
      <p>
        The Exercise Challenge is an attempt by a few San Francisco/Silicon
        Valley geeks to overcome the ruins of being desk-bound.
      </p>
      <p>
        Everyone has their own idea of success but as a general target we plan on
        achieving the following goals, or equivalent substitutes, within the next 12
        months:
      </p>
      <ul class="bulleted">
        <li>Run a marathon</li>
        <li>do 100 pushups in a row</li>
        <li>do a pull-up pyramid to 10 (that's 100 pull-ups)</li>
        <li>not be afraid to take our shirts off in any San Francisco bar</li>
        <li>Make other girls/boys jealous of our girl/boyfriends. (this only applies to those of us with SOs)</li>
        <li>six packs, and not the alcoholic kind.</li>
      </ul>
      <p>
        In order to coerce us into following through with the challenge, we are going
        to make this a very public and social affair. That means posting regular status
        updates on our progress including weight gain/loss, heart rate information, and
        of course, pictures.
      </p>
      <p>
        This website was put in place to help us keep track of our progress.
        As it stands, anyone can <a href="/login">log on</a> with their
        Facebook account and keep track of their own exercises.
      </p>
    </div>
  </div>
</div>

{% end %}
