{% extends "base.html" %}

{% block body %}
<div class="friend-list box right">
  <span class="box-legend">Your Friends</span>
  <div class="box-inner">
    <div class="box-content">
      {% for friend in friends %}
      <a href="/users/{{friend.fbid}}">
        <img src="http://graph.facebook.com/{{friend.fbid}}/picture"/>
      </a>
      {% end %}
      <a href="/users/48101461">
        <img src="http://graph.facebook.com/48101461/picture"/>
      </a>
      <a href="/users/48101461">
        <img src="http://graph.facebook.com/48101461/picture"/>
      </a>
      <a href="/users/48101461">
        <img src="http://graph.facebook.com/48101461/picture"/>
      </a>
      <a href="/users/48101461">
        <img src="http://graph.facebook.com/48101461/picture"/>
      </a>
      <a href="/users/48101461">
        <img src="http://graph.facebook.com/48101461/picture"/>
      </a>
      <a href="/users/48101461">
        <img src="http://graph.facebook.com/48101461/picture"/>
      </a>
    </div>
  </div>
</div>
{{ modules.UserBox(user, status_form) }}
<div class="entries-by-date">
  {% for date, entries in entries_by_date %}
  {{ modules.EntriesBox(date, entries, can_delete=True) }}
  {% end %}
</div>
{% end %}
